// sélecteur universel
* {
  box-sizing: border-box; // size=final size
}
html {
  font-size: 62.5%;
}

body {
  // font-family: Helvetica, Arial, sans-serif;
  font-family: 'Sunflower', sans-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.4;
}
main {
  padding: 0 0px;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding-left: $padding-lr-desktop;
  padding-right: $padding-lr-desktop;
}
.button {
  cursor: pointer;
}
.button:disabled {
  cursor: default;
}
.button:disabled {
  cursor: default;
}
// liens menu
.is-active {
  font-weight: bold;
}
.anchor {
  padding-top: 30px;
}
