#jumbo {
  // display: flex;
  // flex-direction: column;
  // position: relative;
  height: 100vh;
  background-image:url('https://res.cloudinary.com/danielmeilleurimg/image/upload/v1532660904/landing_page/map_ouest_bleue_luminosite.jpg');
  
  // background-image:url('https://res.cloudinary.com/danielmeilleurimg/image/upload/v1532043699/landing_page/map_ouest_bleue_luminosite.jpg');
  // background-size: cover;
  background-position: left top;
  .accroches {
    // color: $graph-edge-color;
    color: darken(#90BD9F, 30%);
    font-size: $xl-size;
    // font-family: 'Faster One', cursive;
    // font-family: 'Bangers', cursive;
    font-family: 'Carter One', cursive;
    // font-weight: bold;
    margin: 0;
    padding: 0 $padding-lr-desktop;
    position: absolute;
    top: 20vh;
  }
  @keyframes entree {
    from {left: -50vw;}
    to {left: 0;}
  }
  #bid {
    // animation-name: entree;
    // animation-duration: 1s;
  }
  #match {
    //color: blue;
    // animation-name: entree;
    // animation-duration: 1s;
    // animation-delay: 2s;
    top: 36vh;
    align-content: center;
  }
  #go {
    left: 18vw;
    top: 52vh;
  }
  @media (max-width: 536px) {
    .accroches {
      font-size: $l-size;
    }
    #match {left: 0}
    #go {left: 0}
  }
  .button {
    border: 5px solid $call-to-action;
    border-radius: 25px;
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10em;
    font-size: 1.8em;
    padding: 10px;
    a {
      text-decoration: none;
      color: $call-to-action;
      font-weight: bold;
    }
  }
}
