#video {
  // float: right;
  //padding: 0 $padding-lr-desktop;
  padding-left: $padding-col;
}
.col {
  padding-left: $padding-col;
  padding-right: $padding-col;
}
.col1 {
  padding-left: $padding-lr-desktop;
  padding-right: $padding-lr-desktop;
}
.col2 {
  padding-left: $padding-col;
}
.sectionheader {
  // padding: 0 $padding-col;
  //  padding: 0 $padding-lr-desktop;
}
.row {
  clear: both;
}
.col-container {
  display: flex;
  justify-content: space-between;
}
.overview {
  width: 33%;
  padding: $padding-col;
  img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 10px auto;
  }
}
.highlight {
  background-color: lighten($light-grey, 5%);
}

// how it works
.figure {
  order: 2;
}
#explain {
  order: 1;
  //padding-left: 10px;
  //padding-right: 10px;
  height: 400px;
  overflow-y: scroll;
}
#howitworks {
  // background-color: #efc;
  background-color: lighten(#90BD9F, 30%);
  border: 1px solid red;
  padding-right: 0px;
}
#presentation {
  // à faire: rendre responsive 
  // width: 800px;
  // height: 600px;
  width: 90vw;
  height: 90vh;
}
#benefits {
  // padding-left: 20px;
  // padding-right: 20px;
}

#contact {
  padding: 20px;
}

// footer
footer {
  background-color: darken($light-grey, 5%);
  padding: 20px;
  .navlink {
    padding: 0 20px;
    text-decoration: none;
  }
  a:hover {
    background-color: darken($light-grey, 15%);
    color: white;
  }
}

// tests
// #traveller1 li:nth-of-type(2):hover ~ #noeudB {
//   font-weight: bold;
//   fill: red;
// }
// #traveller1 li:hover {
.travellers, .providers {
  font-size: $s-size;
  li:hover {
    color: red;
    font-weight: bold;
  }
}
.travelparam:hover {
  color: red;
  font-weight: bold;
}
#email {
  width: 30em;
}
.allume {
  stroke: #20f;
}
#AB.allume {
  stroke-dasharray: 10;
}
.steptext {
  fill: #666 ;
  display: none;
}
.steptext.visible {
  display: block;
}
