// colors
$dark-grey: #444;
$medium-grey: #999;
$light-grey: #eee;
$graph-node-color: #A5C0C8;
$graph-edge-color: #939796;
$call-to-action: #9b1313;

// sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$padding-lr-desktop: 20px;
$padding-col: 10px;
