.reveal .slides {
}
.reveal .slides>section {
  /* top: 0px; */
}
.reveal .slides .leftside {
  margin-right: 50%;
}

/* SVG */

svg {
  /*
  */
  position: absolute;
  right: 3%;
  bottom: 3%;
  margin: auto;
  /* pour identifier
  border: 2px solid red;
  */
  font-size: 20px;
}

.connectLine {
 stroke: #939796;
 stroke-width: 5
}
.actif {
  stroke: red;
}
#CB {
  /* exemple
  stroke: blue;
  */
}
#AB.active {
  stroke: red;
}

.noeudTexte {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  fill: white;
  /* fill: blue;*/
  /* factoriser
  */
  text-anchor: middle;
  alignment-baseline: central;
}
.noeudForme {
  stroke: #939796;
  stroke-width: 5;
  fill: #a5c0c8;
}
/*
.monetat .noeudForme {
  stroke: #ff0000;
}
*/
.timeText {
    display: none
 }

.timeText.active {
  display: inline;
  font-family: Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size: 26px;
  fill: purple;
  /* factoriser
  */
  text-anchor: middle;
  alignment-baseline: central;
}
.fares {
  display: none;
}
.fares.active {
  /* factoriser
  */
  display: block;
  font-size: 26px;
  font-family: Helvetica, Arial, sans-serif;
  text-anchor: middle;
  alignment-baseline: central;

}
.timeFrame {
  display: none;
}
.timeFrame.active {
  /* factoriser
  */
  display: block;
  text-anchor: middle;
  alignment-baseline: central;
  -webkit-animation: flashingGreen 300ms 5 forwards;
  animation: flashingGreen 300ms 5 forwards;
}
#timeAC {
  fill: red;
}
#trspTimes {
}

.deplaceDroite{
  /* transform: translate(200px, 0)
  -webkit-animation-name: example;
  -webkit-animation-duration: 2s;
  animation-name: example;
  animation-duration: 2s;
  */
}
.deplaceGaughe{
  /* transform: translate(200px, 0);
  -webkit-animation-name: exampleG;
  -webkit-animation-duration: 2s;
  animation-name: exampleG;
  animation-duration: 2s;
  */
}

@-webkit-keyframes example {
    from {transform: translate(0px, 0);}
    to {transform: translate(200px, 0)}
}
@keyframes example {
    from {transform: translate(0px, 0);}
    to {transform: translate(200px, 0)}
}

@-webkit-keyframes exampleG {
    from {transform: translate(200px, 0)}
    to {transform: translate(0px, 0);}
}
@keyframes exampleG {
    from {transform: translate(200px, 0)}
    to {transform: translate(0px, 0);}
}

/* events page change */
.frontpage #graphReseau {
  display: none;
}
#noeudA.hlab, #noeudB.hlab, #AB.hlab {
  -webkit-animation: flashing 300ms 5 forwards;
  animation: flashing 300ms 5 forwards;
}
#arrivalB.active {
  -webkit-animation: flashingGreen 300ms 5 forwards;
  animation: flashingGreen 300ms 5 forwards;
}
@-webkit-keyframes flashing {
    from {stroke: #939796;}
    to {stroke: #ff0000;}
}
@-webkit-keyframes flashingGreen {
    from {stroke: #fff;}
    to {stroke: #00cc00;}
}
#logo {
  display: inline;
  border: 0;
  box-shadow: none;
}
