* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.7rem;
  color: #444;
  line-height: 1.4; }

main {
  padding: 0 0px;
  max-width: 1200px;
  margin: 0 auto; }

section {
  padding-left: 30px;
  padding-right: 30px; }

.button {
  cursor: pointer; }

.button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.anchor {
  padding-top: 30px; }

#header {
  position: sticky;
  top: 0;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 10; }
  #header #titres {
    display: flex;
    align-items: center; }
    #header #titres a {
      text-decoration: none; }
    #header #titres #logo_bidngo {
      background-color: #e1e1e1;
      display: flex;
      align-items: center; }
      #header #titres #logo_bidngo #header-img {
        height: 50px;
        width: 70px;
        padding: 5px; }
      #header #titres #logo_bidngo h1 {
        margin: 0px;
        color: #939796;
        padding: 0 1.7rem; }
    @media (max-width: 536px) {
      #header #titres h2 {
        display: none; } }
    #header #titres h2 {
      font-size: 1.7rem;
      color: #6694a1;
      margin: 0 10px 0 10px; }

.topnav {
  overflow: visible;
  background-color: #eee; }

a.active {
  font-weight: bold; }

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 1.7rem;
  color: #5a8693; }

.topnav a:hover {
  background-color: #c8c8c8;
  color: white; }

.topnav .menu-icon {
  display: none; }

@media screen and (max-width: 900px) {
  .topnav {
    align-self: start;
    padding-right: 20px; }
  .topnav a {
    display: none; }
  .topnav a.menu-icon {
    float: right;
    display: block;
    position: relative;
    right: -20px; } }

@media screen and (max-width: 900px) {
  .responsive a.navlink {
    position: relative; }
  .responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0; }
  .responsive a.nav-link {
    float: none;
    display: block;
    text-align: left; } }

#jumbo {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/danielmeilleurimg/image/upload/v1532660904/landing_page/map_ouest_bleue_luminosite.jpg");
  background-position: left top; }
  #jumbo .accroches {
    color: #437152;
    font-size: 5.4rem;
    font-family: 'Carter One', cursive;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    top: 20vh; }

@keyframes entree {
  from {
    left: -50vw; }
  to {
    left: 0; } }
  #jumbo #match {
    top: 36vh;
    align-content: center; }
  #jumbo #go {
    left: 18vw;
    top: 52vh; }
  @media (max-width: 536px) {
    #jumbo .accroches {
      font-size: 3.2rem; }
    #jumbo #match {
      left: 0; }
    #jumbo #go {
      left: 0; } }
  #jumbo .button {
    border: 5px solid #9b1313;
    border-radius: 25px;
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 11em;
    font-size: 1.8em;
    padding: 10px; }
    #jumbo .button a {
      text-decoration: none;
      color: #9b1313;
      font-weight: bold; }

#video {
  padding-left: 20px; }

.col {
  padding-left: 20px;
  padding-right: 20px; }

.col1 {
  padding-left: 30px;
  padding-right: 30px; }

.col2 {
  padding-left: 20px; }

.row {
  clear: both; }

.col-container {
  display: flex;
  justify-content: space-between; }

.overview {
  width: 33%;
  padding: 20px; }
  .overview img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 10px auto; }

.highlight {
  background-color: #fbfbfb; }

.figure {
  order: 2; }

#explain {
  order: 1;
  height: 400px;
  overflow-y: scroll; }

#howitworks {
  background-color: #f0f6f2;
  border: 1px solid red;
  padding-right: 0px; }

#presentation {
  width: 90vw;
  height: 90vh; }

#contact {
  padding: 20px; }

footer {
  background-color: #e1e1e1;
  padding: 20px; }
  footer .navlink {
    padding: 0 20px;
    text-decoration: none; }
  footer a:hover {
    background-color: #c8c8c8;
    color: white; }

.travellers, .providers {
  font-size: 1.5rem; }
  .travellers li:hover, .providers li:hover {
    color: red;
    font-weight: bold; }

.travelparam:hover {
  color: red;
  font-weight: bold; }

#email {
  width: 30em; }

.allume {
  stroke: #20f; }

#AB.allume {
  stroke-dasharray: 10; }

.steptext {
  fill: #666;
  display: none; }

.steptext.visible {
  display: block; }

.travellers, .providers {
  font-size: 1.5rem; }
  .travellers li:hover, .providers li:hover {
    color: red;
    font-weight: bold; }

.travelparam:hover {
  color: red;
  font-weight: bold; }

#email {
  width: 30em; }

.actif {
  stroke: #20f; }

#AB.active {
  stroke-dasharray: 10; }

.steptext {
  fill: #666; }

svg .nav {
  cursor: pointer; }
