* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #333333;
  line-height: 1.4; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.anchor {
  padding-top: 30px; }

#header {
  position: sticky;
  top: 0;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 10; }
  #header #titres {
    display: flex;
    align-items: center; }
    #header #titres a {
      text-decoration: none; }
    #header #titres #logo_bidngo {
      background-color: #e1e1e1;
      display: flex;
      align-items: center; }
      #header #titres #logo_bidngo #logo {
        height: 50px;
        width: 70px;
        padding: 5px; }
      #header #titres #logo_bidngo h1 {
        margin: 0px;
        color: #939796;
        padding: 0 1.6rem; }
    @media (max-width: 536px) {
      #header #titres h2 {
        display: none; } }
    #header #titres h2 {
      font-size: 1.6rem;
      color: #6694a1;
      margin: 0 10px 0 10px; }

.topnav {
  overflow: visible;
  background-color: #eee; }

a.active {
  font-weight: bold; }

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #5a8693; }

.topnav a:hover {
  background-color: #c8c8c8;
  color: white; }

.topnav .menu-icon {
  display: none; }

@media screen and (max-width: 855px) {
  .topnav {
    align-self: start;
    padding-right: 20px; }
  .topnav a {
    display: none; }
  .topnav a.menu-icon {
    float: right;
    display: block;
    position: relative;
    right: -20px; } }

@media screen and (max-width: 855px) {
  .responsive a.navlink {
    position: relative; }
  .responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0; }
  .responsive a.navlink {
    float: none;
    display: block;
    text-align: left; } }

#jumbo {
  height: 100vh;
  background-image: url("../../img/map_ouest_bleue_luminosite.jpg");
  background-position: left top; }
  #jumbo .accroches {
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20vh;
    font-size: 4.8rem; }
  #jumbo #match {
    top: 30vh;
    align-content: center; }
  #jumbo #go {
    left: 20vw;
    top: 50vh; }
  @media (max-width: 536px) {
    #jumbo .accroches {
      font-size: 3.2rem; }
    #jumbo #match {
      left: 0; }
    #jumbo #go {
      left: 0; } }
  #jumbo button {
    position: absolute;
    top: 80vh; }
